.grid-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.grid-item{
    background-color: rgba(29, 29, 29, 0.712);
        text-align: center;
        border: 5px solid rgb(0, 0, 0);
        padding: 4vh;
        font-size: 3vh;
        display: inline-block;
        font-family: Helvetica, sans-serif;
        color: white;
}

.big-text{
    font-family: cursive, monospace;
    text-align: center;
        font-size: 650%;
        color: antiquewhite;
        text-shadow:
            -4px -4px 0 rgb(56, 56, 56),
            4px -4px 0 rgb(56, 56, 56),
            -2px  2px 0 rgb(56, 56, 56),
            2px  2px 0 rgb(56, 56, 56);
}

body{
    background-image: url("https://images.unsplash.com/photo-1464618663641-bbdd760ae84a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8d2Vic2l0ZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDA%3D&w=1000&q=80");
      background-repeat: no-repeat;
      background-size: 3000px 3000px;
      background-position: center;
}

.selected{
    font-weight: bold;
    font-size: x-large;
    color: aqua;
}

.centre{
    text-align: center;
}
.white-text{
    color: antiquewhite;
    text-shadow:
            -2px -2px 0 rgb(56, 56, 56),
            2px -2px 0 rgb(56, 56, 56),
            -2px  2px 0 rgb(56, 56, 56),
            2px  2px 0 rgb(56, 56, 56);
}

.grid-container-1{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
}

.grid-item-1{
    text-align: center;
    padding: 7.5vh;
}

.hover-zoom {
    transition: 0.3s;
}

.hover-zoom:hover {
    transform: scale(1.9);
}

.space {
    margin-top: 100px;
}

.transparent{
    color: rgba(240, 248, 255, 0);
}

.grid-container-2{
    display: flex;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
}

.grid-item-2{
    text-align: center;
    padding: 3vh;
    border: 3px solid black;
}

.logo-size {
    width: 120px;
    height: auto;
    margin-top: 100px;
  }

  .move-left{
    margin-left: 20px;
  }